@font-face {
	font-family: "ManifoldCF-Bold";
	src:  url("fonts/Manifold/ManifoldCF-Bold.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PlayfairDisplay-BlackItalic";
	src:  url("fonts/Playfair/PlayfairDisplay-BlackItalic.eot") format("eot");
	src:  url("fonts/Playfair/PlayfairDisplay-BlackItalic.woff") format("woff");
	src:  url("fonts/Playfair/PlayfairDisplay-BlackItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-DemiBold";
	src:  url("fonts/Manifold/ManifoldCF-DemiBold.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-DemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PlayfairDisplay-Black";
	src:  url("fonts/Playfair/PlayfairDisplay-Black.eot") format("eot");
	src:  url("fonts/Playfair/PlayfairDisplay-Black.woff") format("woff");
	src:  url("fonts/Playfair/PlayfairDisplay-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-BoldOblique";
	src:  url("fonts/Manifold/ManifoldCF-BoldOblique.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-BoldOblique.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-DemiBoldOblique";
	src:  url("fonts/Manifold/ManifoldCF-DemiBoldOblique.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-DemiBoldOblique.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-ExtraBold";
	src:  url("fonts/Manifold/ManifoldCF-ExtraBold.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-ExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-DemiBold";
	src:  url("fonts/Manifold/ManifoldCF-DemiBold.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-DemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PlayfairDisplay-Regular";
	src:  url("fonts/Playfair/PlayfairDisplay-Regular.eot") format("eot");
	src:  url("fonts/Playfair/PlayfairDisplay-Regular.woff") format("woff");
	src:  url("fonts/Playfair/PlayfairDisplay-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-ExtraBoldOblique";
	src:  url("fonts/Manifold/ManifoldCF-ExtraBoldOblique.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-ExtraBoldOblique.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-LightOblique";
	src:  url("fonts/Manifold/ManifoldCF-LightOblique.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-LightOblique.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-Light";
	src:  url("fonts/Manifold/ManifoldCF-Light.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ManifoldCF-RegularOblique";
	src:  url("fonts/Manifold/ManifoldCF-RegularOblique.otf") format("otf");
	src:  url("fonts/Manifold/ManifoldCF-RegularOblique.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
