body{
	
	background: white;
	
}

.ekran-1{
	background: url("images/ekran-1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1920px;
	height: 900px;
	width: 100%;
	
	
} 
.ekran-1-m{
	background: url("images/ekran-1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1100px;
	height: 700px;
	width: 100%;
	
	
} 
.ekran-3{
	background: url("images/3-ekran.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1070px;
	max-height: 750px;
	width: 100%;
	
	
}
.ekran-3-visa{
	background: url("images/3-ekran.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1070px;
	max-height: 1050px;
	width: 100%;
	
	
}
.ekran-3-strah{
	background: url("images/3-ekran.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1070px;
	max-height: 1050px;
	width: 100%;
	
	
}
.ekran-3-m{
	background: url("images/3-ekran.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1070px;
	max-height: 750px;
	width: 100%;
	
	
}

.ekran-3-visa-m{
	background: url("images/3-ekran.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1070px;
	max-height: 1050px;
	width: 100%;
	
	
}

.ekran-3-strah-m{
	background: url("images/3-ekran.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1070px;
	max-height: 1050px;
	width: 100%;
	
	
}

.ekran-6{
	background: url("images/ekran-6.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1920px;
	height: 460px;
	width: 100%;
	
	
}
.ekran-6-m{
	background: url("images/ekran-6.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1920px;
	height: 360px;
	width: 100%;
	
	
}
.ekran-6-s{
	background: url("images/ekran-6.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 800px;
	height: 200px;
	width: 100%;
	
	
}
.man-r{
	font-family: "ManifoldCF-Regular";
	
}
.man-b{
	font-family: "ManifoldCF-Bold";
	
}
.man-d-b{
	font-family: "ManifoldCF-DemiBold";
	
}
.man-b-ob{
	font-family: "ManifoldCF-BoldOblique";
	
}
.man-d-b-ob{
	font-family: "ManifoldCF-DemiBoldOblique";
	
}
.man-ex-b{
	font-family: "ManifoldCF-ExtraBold";
	
}
.man-l-ob{

	font-family: "ManifoldCF-LightOblique";
	
}
.man-ex-b-ob{
	font-family: "ManifoldCF-ExtraBoldOblique";
	
}
.play-it{
	font-family: "PlayfairDisplay-BlackItalic";
	
}
.play{
	font-family: "PlayfairDisplay-Black";
	
}
.play-r{
	font-family: "PlayfairDisplay-Regular";
	
}
.man-l{
	font-family: "ManifoldCF-Light";
	
}
.man-r-ob{
	font-family: "ManifoldCF-RegularOblique";
	
}
a{
	text-decoration: none;
	
}
.bar-item{
	font-size: 16px;
	
}
.bar-item-s{
	font-size: 13px;
	
}
.col{
	
	display: inline-block;
	margin: 0px 14px 0px 14px;
	padding: 0px 2px 4px 2px;
}
.col-s{
	
	display: inline-block;
	margin: 0px 5px 0px 5px;
	padding: 0px 2px 8px 2px;
}
.col:hover{
	
	border-bottom: 1.5px solid #a83859;
	
}
.col-i{
	
	display: inline-block;
	padding: 0px 10px 0px 10px;
}
.col-i-m{
	
	display: inline-block;
	padding: 0px 5px 0px 5px;
}
.col-i-m-s{
	
	display: inline-block;
	padding: 0px 0px 0px 0px;
}
.form-p{
	
	font-size: 14px;
	padding-bottom: 5px;
}
.form-p-m{
	
	font-size: 12px;
	
}
.other-titles{
	color: #240d39;
	font-size: 36px;
}
.inf-title{
	font-size: 24px;
	color: #240d39;
	
}
.inf-a{
	font-size: 16px;
	color: #2d2d2d;
	border-bottom: 1px solid #2d2d2d;
}
.inf-a:hover{
	font-size: 16px;
	border-bottom: 1px solid #a83859;
	color: #a83859;
	transition: all 0.3s ease;
	text-decoration: none;
}
.drop-a{
	color: white;
	
}
.drop-a:hover{
	color: #a83859;
	transition: all 0.3s ease;
}
.content-p{
	font-size: 17px;
	color: #2d2d2d;
	
}
.content-p-onas{
	font-size: 24px;
	color: #2d2d2d;
	line-height: 1.2;
}
.content-p-news{
	font-size: 16px;
	color: #2d2d2d;
	
}
.content-p-m{
	font-size: 15px;
	color: #2d2d2d;
	
}
p {
    line-height: 1.3;
   }
.news-p{
	font-size: 14px;
	color: #2d2d2d;	
}   
.news-h{
	color: #1e1e1e;
	font-size: 14px;
}
.news-h:hover{
	font-size: 14px;
	color: #a83859;
	transition: all 0.3s ease;
	text-decoration: none;
}
.news-p-m{
	font-size: 12px;
	color: #2d2d2d;	
}   
.news-h-m{
	color: #1e1e1e;
	font-size: 12px;
}
.news-i{
	color: #999999;
	font-size: 14px;
}
.title-ek6{
	font-size: 60px;
	line-height: 1;
	color: white;
	
} 
.title-ek6-m{
	font-size: 50px;
	line-height: 1;
	color: white;
	
} 
.title-ek6-s{
	font-size: 30px;
	line-height: 1;
	color: white;
	
} 
.title-ek6-2{
	font-size: 36px;
	line-height: 1;
	color: white;
	
}   
.title-ek6-2-m{
	font-size: 30px;
	line-height: 1;
	color: white;
	
}  
.title-ek6-2-s{
	font-size: 20px;
	line-height: 1;
	color: white;
	
}  
.footer-p{
	font-size: 15px;
	color: white;
	margin: 0px;
	line-height: 1.5;
	
}
.footer-p-m{
	font-size: 13px;
	color: white;
	margin: 0px;
	
}
.footer-p-s{
	font-size: 10px;
	color: white;
	margin: 0px;
	line-height: 1.3;
	
}
.underline{
	
	text-decoration: underline;
}
.footer-creat{
	font-size: 14px;
	color: white;
	margin: 0px;
	padding: 0px 10px;
}
.footer-creat-s{
	font-size: 12px;
	color: white;
	margin: 0px;
	padding: 0px 10px;
}
.creat-a{
	border-bottom: 1px solid white;
	
}
.creat-a:hover{
	border-bottom: 1px solid #a83859;
	color: #a83859;
	transition: all 0.3s ease;
}
.slide-title{
	margin: 8px 0px 5px 0px;
	font-size: 15px;
	color: #2d2d2d;
	line-height: 1.1;
}
.slide-title-s{
	margin: 8px 0px 5px 0px;
	font-size: 13px;
	color: #2d2d2d;
	line-height: 1.1;
}
.slide-p{
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	color: #2d2d2d;
	line-height: 1.1;
}
.slide-p-s{
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #2d2d2d;
	line-height: 1.1;
}

.hover-slide{
	background: #eeeeee;
	border: 4px solid #eeeeee;
	color: #2d2d2d;
	
}
.hover-slide:hover{
	background: #240d39;
	color: #ffffff !important;
	border: 4px solid #a83859;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	 transform: scale(1.1);
}
.w3-hover-pink:hover{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
.w3-hover-text-red:hover{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
.hover-slide:hover p{
	
	color: #8899a8 !important;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	transition: all 0.1s ease;
	
}
.pointer{
	    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	
}
.pointer-class{
	color: #a83859 !important;
	
	
}
.pointer-class-hov:hover{
	color: #a83859 !important;
	
	
}
.gl-button{
	 border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	background: #a83859;
	
}
.gl-button:hover{
	background: #cc194e ;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
}

#country{
    background-image: url(images/icons/view.png);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 180px; /*Позиционируем*/   
    outline: none; /*убираем стандартную обводку браузера*/   
	
}
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 200;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
	
	
	
	
}
.loader{
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 2s spin infinite linear;
	
}
.done{
	
	opacity: 0;
	visibility: hidden;
	
}
.inline-block{
	display: inline-block;
	
}

.anim-block{
	
	animation: linear 1.1s down infinite alternate;
}

@keyframes down{
	0%{
		padding-bottom: 70px;
		opacity: 1;
	}
	
	100%{
		padding-bottom: 50px; 
		opacity: 0;
	}
}
@keyframes spin{
	from{
		transform: translate(-50%, -50%) rotate(0deg);
		
		
	}
	to{
		transform: translate(-50%, -50%) rotate(360deg);
		
	}
	
}
.news-button{
	background-color: #240d39; 
	color: white;
	padding: 6px 26px;
	font-size: 16px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 10px;
}
.news-button:hover{
	background: #cc194e ;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: white;
}

/* slick */
.slider {
        width: 50%;
        margin: 0px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }


/* end slick */

.spec-p{
	line-height: 1.1;
	
	
}
.spec-h{
	padding-top: 5px;
	line-height: 1.3;
	
	
}
.spec-mon{
	font-size: 36px;
	line-height: 1.1;
}
.spec-button{
	background-color: #240d39; 
	color: white;
	padding: 5px 26px;
	font-size: 14px;
	margin-top: 5px;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
}
.spec-button-1{
	background-color: #240d39; 
	color: white;
	padding: 5px 25px;
	font-size: 14px;
	margin-top: 5px;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
}
.spec-button:hover{
	background: #cc194e ;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: white;
}
.spec-button-1:hover{
	background: #cc194e ;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: white;
}
.smaller{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	 transform: scale(0.9);
	
	
}
.spec-mon-m{
	font-size: 26px;
	line-height: 1.1;
}
.spec-button-m{
	background-color: #240d39; 
	color: white;
	padding: 5px 11px;
	font-size: 12px;
	margin-top: 5px;
	display: inline-block;
	border-radius: 5px;
}
.spec-button-1-m{
	background-color: #240d39; 
	color: white;
	padding: 5px 11px;
	font-size: 12px;
	margin-top: 5px;
	display: inline-block;
	border-radius: 5px;
}
.spec-button-m:hover{
	background: #cc194e ;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: white;
}
.spec-button-1-m:hover{
	background: #cc194e ;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: white;
}
.spec-button-s{
	background-color: #240d39; 
	color: white;
	padding: 5px 16.5px;
	font-size: 14px;
	margin-top: 5px;
	display: inline-block;
	border-radius: 5px;
}
/* Добавляем полосы прокрутки */
.prokr{
    overflow: scroll; 
    width: 730px; 
    height: 430px; 
    margin: 0px auto;
   } 
.prokr::-webkit-scrollbar{
   
	width: 7px;
}

.prokr::-webkit-scrollbar-thumb{
  
    border-radius: 3px;
    background-color: #a83859;
	
}
.prokr::-webkit-scrollbar-track{
	
	background-color: #f5f5f5;
	border-radius: 3px;
	margin: 10px 0px 10px 0px;
}
.prokr::-webkit-scrollbar-track:horizontal{
	background-color: white;
	
}
.prokr::-webkit-scrollbar:horizontal{
   
	
	height: 5px;
}

.prokr-s{
    overflow: scroll; 
    max-width: 600px; 
	width: 100%;
    height: 430px; 
    margin: 0px auto;
   } 
.prokr-s::-webkit-scrollbar{
   
	width: 7px;
}

.prokr-s::-webkit-scrollbar-thumb{
  
    border-radius: 3px;
    background-color: #a83859;
	
}
.prokr-s::-webkit-scrollbar-track{
	
	background-color: #f5f5f5;
	border-radius: 3px;
	margin: 10px 0px 10px 0px;
}
.prokr-s::-webkit-scrollbar-track:horizontal{
	background-color: white;
	
}
.prokr-s::-webkit-scrollbar:horizontal{
   
	
	height: 5px;
}


/*Special tours*/
.title-hot{
	color: white;
	font-size: 16px;
	padding-left: 8px;
	line-height: 1.1;
}
.medium .title-hot{
	color: white;
	font-size: 12px;
	padding-left: 4px;
	line-height: 1.1;
}
.p-hot{
	color: white;
	font-size: 16px;
	line-height: 1.1;
	
}
.c-kr{
	font-size: 22px;
	color: white;
	line-height: 1.1;
	
}
.n-kr{
	font-size: 18px;
	color: white;
	line-height: 1.1;
	
}
.hover-back{
	background: #20103b; 
	opacity: 0.85;
}
.w3-display-container:hover .hover-back{
	background: #20103b; 
	opacity: 1;
	
}
.medium .p-hot{
	color: white;
	font-size: 11px;
	line-height: 1.1;
	
}
.medium .c-kr{
	font-size: 18px;
	color: white;
	line-height: 1.1;
	
}
.medium .n-kr{
	font-size: 15px;
	color: white;
	line-height: 1.1;
	
}
.medium .circle{
	
	background: #a83859;
	border-radius: 50%; 
	width: 65px;
	padding: 2px 0px 4px 0px;
	
}

.small .title-hot{
	color: white;
	font-size: 14px;
	padding-left: 4px;
	line-height: 1.1;
}
.small .p-hot{
	color: white;
	font-size: 13px;
	line-height: 1.1;
	
}
.small .c-kr{
	font-size: 18px;
	color: white;
	line-height: 1.1;
	
}
.small .n-kr{
	font-size: 15px;
	color: white;
	line-height: 1.1;
	
}
.small .circle{
	
	background: #a83859;
	border-radius: 50%; 
	width: 65px;
	padding: 2px 0px 4px 0px;
	
}

/*Classes for Contacs*/
.p-cont{
		font-size: 30px;
		color: #240d39;
	
}

.margin-cont{
	margin-top: 30px;
	
	
}
.p-2-cont{
	font-size: 18px;
	color: #240d39;
	margin: 10px 0px;
}
.margin-cont-15px{
	margin-top: 15px;
	
}
.contact-but{
	border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background: #240d39;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	
	
}
.contact-but:hover{
	background: #4f1c7e ;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
}

.medium .p-cont{
		font-size: 23px;
		color: #240d39;
	
}
.medium .p-2-cont{
	font-size: 13px;
	color: #240d39;
	margin: 10px 0px;
}

.small .p-cont{
		font-size: 18px;
		color: #240d39;
	
}
.small .p-2-cont{
	font-size: 11px;
	color: #240d39;
	margin: 10px 0px;
}
/*Po strane classes*/
.strana-p{
	color: white;
	font-size: 16px;
	margin: 5px 0px 5px 0px;
	line-height: 1.1;
	
}
.strana-h{
	color: white;
	font-size: 16px;
	margin: 10px 0px 5px 0px;
	line-height: 1.1;
}
.strana-c{
	color: white;
	font-size: 18px;
	margin: 5px 0px 0px 0px;
	line-height: 1.1;
}
.strana-but{
	border: none;
    display: inline-block;
    padding: 2px 20px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background: #240d39;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	border: 1px solid white;
	border-radius: 10px;
	font-size: 14px;
	
}
.result-button{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
    white-space: nowrap;
	font-size: 20px; 
	color: #240d39; 
	border: 2px solid #a83859; 
	margin-top: 35px; 
	border-radius: 10px; 
	width: 50%; 
	padding: 10px 0px;
}
.result-button:hover{
	color: #a83859; 
	border-radius: 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* Добавляем полосы прокрутки для экскурсионных туров*/
.small .prokr-ek{
    overflow: scroll;
	max-width: 470px;
    width: 100%; 
    height: 300px; 
    margin: 0px auto;
   } 
.medium .prokr-ek{
    overflow: scroll;
	max-width: 470px;
    width: 100%; 
    height: 300px; 
    margin: 0px auto;
   } 
.prokr-ek{
    overflow: scroll;
	width: 470px;
    height: 430px; 
    margin: 0px auto;
   } 
.prokr-ek::-webkit-scrollbar{
   
	width: 4px;
}

.prokr-ek::-webkit-scrollbar-thumb{
  
    border-radius: 3px;
    background-color: #a83859;
	
}
.prokr-ek::-webkit-scrollbar-track{
	
	background-color: #f5f5f5;
	border-radius: 3px;
	margin: 10px 0px 10px 0px;
}
.prokr-ek::-webkit-scrollbar-track:horizontal{
	background-color: white;
	
}
.prokr-ek::-webkit-scrollbar:horizontal{
   
	
	height: 5px;
}

.prokr-s-ek{
    overflow: scroll; 
    max-width: 600px; 
	width: 100%;
    height: 430px; 
    margin: 0px auto;
   } 
.prokr-s-ek::-webkit-scrollbar{
   
	width: 7px;
}

.prokr-s-ek::-webkit-scrollbar-thumb{
  
    border-radius: 3px;
    background-color: #a83859;
	
}
.prokr-s-ek::-webkit-scrollbar-track{
	
	background-color: #f5f5f5;
	border-radius: 3px;
	margin: 10px 0px 10px 0px;
}
.prokr-s-ek::-webkit-scrollbar-track:horizontal{
	background-color: white;
	
}
.prokr-s-ek::-webkit-scrollbar:horizontal{
   
	
	height: 5px;
}
.mySlides-eks {display:none;}

.arrows{
	    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	font-size: 60px;
}
.arrows:hover{
	color: #a83859;
}
.button-eks{
	border: 2px solid #a83859; 
	border-radius: 10px; 
	margin: 5px 0 0 0; 
	color: white; 
	padding: 3px 35px 4px 35px;
	font-size: 18px; 
	line-height: 1.1; 
	display: inline-block; 
	cursor: pointer;
	
}
.h3-eks{
	margin: 0px;
	padding-top:5px; 
	font-size: 18px; 
	color: white;
	
}
.h3-2-eks{
	margin: 7px 0 3px 0px;
	font-size: 18px;
	color: white; 
	line-height: 1.1;
	
	
}
.h3-3-eks{
	font-size: 11px; 
	color: white;
	margin: 0;
	padding-bottom: 15px;
	
}
.h2-cena-eks{
	font-size: 30px;
	line-height: 1.1;
	color: white;
	margin: 5px;

}
.h-1-eks{
	font-size: 14px; 
	margin: 0px;
	color: #1d1d1d;
}
.h-2-eks{
	font-size: 18px;
	margin: 0px;
	color: #1d1d1d;
	line-height: 1.1;
}
.h-c-eks{
	font-size: 24px; 
	margin: 6px 0 0px 0; 
	color: #240d39; 
	line-height: 1.1;
}

/*For Medium*/
.h-1-eks{
	font-size: 10px; 
	margin: 0px;
	color: #1d1d1d;
}
.h-2-eks{
	font-size: 13px;
	margin: 0px;
	color: #1d1d1d;
	line-height: 1.1;
}
.h-c-eks{
	font-size: 18px; 
	margin: 6px 0 0px 0; 
	color: #240d39; 
	line-height: 1.1;
}

/*For small*/
.small .button-eks{
	border: 2px solid #a83859; 
	border-radius: 10px; 
	margin: 5px 0 0 0; 
	color: white; 
	padding: 3px 15px 4px 15px;
	font-size: 18px; 
	line-height: 1.1; 
	display: inline-block; 
	cursor: pointer;
	
}
.small .h3-eks{
	margin: 0px;
	padding-top:5px; 
	font-size: 18px; 
	color: white;
	
}
.small .h3-2-eks{
	margin: 7px 0 3px 0px;
	font-size: 18px;
	color: white; 
	line-height: 1.1;
	
	
}
 .small .h3-3-eks{
 	font-size: 11px; 
	color: white;
	margin: 0;
	padding-bottom: 15px;
	
}
.small .h2-cena-eks{
	font-size: 25px;
	line-height: 1.1;
	color: white;
	margin: 5px;

}